.mg-top-50 {
  margin-top: 50px;
}
.hero-image {
  background-position: center top !important;
  filter: blur(3px) brightness(70%);
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}